<!-- <app-navbar></app-navbar> -->


<section class="pattern">
    <app-navbar></app-navbar>
    <div class="container flex">
        <div class="row">
            <div class="col-md-12 center">
                <img class="img-100w image-dogui" src="../../assets/img/img-dogui.png" alt="">
              
                <div class="card">
                    

                    <!-- <div #content [innerHTML]="script"> </div> -->
                    <iframe class="responsive-iframe" src="https://es.surveymonkey.com/r/PDV3ZGB" frameborder="0"
                            width="800" height="400" style="overflow:hidden"></iframe>


                </div>
<!-- 
                <div class="center">
              
                    <button class="btn btn-danger center btn-model" routerLink="/encuesta">Comenzar</button>
                    
                </div> -->


            </div>
        </div>
    </div>
</section>