

<main>

    <app-navbar></app-navbar>


    <div class="container">
        <div class="row flex">
          <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                    <img class="img-100w img-titular" src="../../assets/img/titular.png" alt="">
                    <br><br> <br><br>
                    <h4 class="white bold">¡Hola! </h4>
                    <p class="white justify">Queremos conocer tu opinión sobre los diferentes beneficios que buscas en el alimento de tu mascota. 
                        Por lo que necesitamos tu apoyo respondiendo la siguiente encuesta, la cual no te tomará 
                        más de 3 minutos. Te queremos aclarar que no existen respuestas correctas o incorrectas, 
                        queremos que seas lo más sincero posible. ¡Muchas gracias por tu apoyo!
                    </p>
                </div>
                <div class="col-md-6">
                    <img class="img-100w" src="../../assets/img/img-dogui-i.png" alt="">
                </div>
                <div class="col-md-12">
                   <div class="center">
                       <br>
                        <button class="btn btn-warning center btn-model" routerLink="/encuesta">Comenzar</button>
                        <br><br>
                   </div>
                </div>
              </div>
          </div>
        </div>
    </div>
</main>
